# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\HCMUS\Year III 2020-2021\Term VII\(CSC13102) Java Application Programming\Projects\ChatAppProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
